server:
  port: ${APP_API_SERVER_PORT:8080}

spring:
  application:
    name: api-app-server

  profiles:
    include: logging

  output:
    ansi:
      enabled: always

  datasource:
    url: jdbc:mysql://localhost:3306/mydb?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: myuser
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      initialization-fail-timeout: 0

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        generate_statistics: true
        default_batch_fetch_size: 20

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

  security:
    jwt:
      secret: ${JWT_SECRET:mySecretKeyForJwtTokenGenerationAndValidation1234567890}
      access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION:3600000}
      refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION:604800000}

    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: ${GOOGLE_REDIRECT_URI:http://localhost:8080/login/oauth2/code/google}


    cors:
      allowed-origins:
        - http://localhost:3000
        - http://localhost:5500
        - http://127.0.0.1:5500
        - ${CORS_ALLOWED_ORIGIN:http://localhost:3000}
      allowed-methods:
        - GET
        - POST
        - PUT
        - DELETE
        - PATCH
        - OPTIONS
      allowed-headers:
        - "*"
      allow-credentials: true
      max-age: 3600
      exposed-headers:
        - Set-Cookie
        - Authorization


storage:
  cloudinary:
    enabled: false
    api:
      key: ${CLOUDINARY_API_KEY:}
      secret: ${CLOUDINARY_API_SECRET:}
    cloud:
      name: ${CLOUDINARY_CLOUD_NAME:}
    upload:
      preset: ${CLOUDINARY_UPLOAD_PRESET:ml_default}





